.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.versus{
    display: flex;
    flex-direction: row;
    
}
button{
    margin: 50px;
}
.icons{
    width: 200px;
}
.iconContainer {
    display: flex;

}
#resultadoVersus{
    font-size: 36px;
    font-weight: bold;
    padding: 55px;
}
.scores{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 500px;
}
#p1{color: blue;
    font-size: 36px;
    font-weight: bold;}
#cpu{color: red;
    font-size: 36px;
    font-weight: bold;}

body{
    background-color: #fba874;
    font: Roboto;
    font-size: 22px;
}
.cont1   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin :10px ;
}
.scorecont, .p1, .cpu {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
}